@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Montserrat", sans-serif;
}

@layer components {
    /* texts  */
    .title-1 {
        @apply font-normal text-[32px] text-milk leading-[39px] tracking-[0.01em] capitalize;
    }
    .title-3 {
        @apply font-normal text-[24px] text-milk leading-[29px] tracking-[0.01em] capitalize;
    }
    .title-18px {
        @apply font-[600] text-lg leading-[22px] tracking-regular text-milk;
    }
    .title-16px {
        @apply font-semibold text-yellow text-[16px] leading-[20px];
    }
    .title-14px {
        @apply text-[14px] leading-[17px] font-[500] -tracking-[0.01em] text-[#DADADA];
    }
    .para-13px {
        @apply font-normal text-[13px] leading-[16px] -tracking-regular text-milk;
    }
    .para-12px {
        @apply text-[12px] font-normal leading-[15px] -tracking-[0.01em] text-milk-dark;
    }

    /* song component  */
    .poster {
        @apply w-12 h-12;
    }
    .poster-lg {
        @apply w-24 h-24;
    }
    .song-name {
        @apply font-semibold text-base text-milk leading-[20px] tracking-[0.01em];
    }

    .album-name,
    .artist-name,
    .para-sm {
        @apply font-normal text-[13px] mt-[6px] leading-[16px] tracking-[0.01em] text-[#B3B3B3];
    }

    .artist-name {
        @apply text-[14px] capitalize text-[#dadada];
    }

    .view-all-btn {
        @apply capitalize font-semibold 
        text-[14px] leading-[17px] tracking-[0.01em]
         text-white bg-[#e3aa27] p-[7.5px_10px] rounded-[20px];
    }

    .box {
        @apply p-5 sm:p-6 xl:p-8;
    }
    .right__content {
        @apply bg-dark-blue;
    }

    .nav-item {
        @apply py-[14px];
    }

    .nav-item.active {
    }
    .nav-item.active a p {
        @apply text-yellow;
    }
    .nav-item.active a svg path {
        @apply stroke-yellow;
    }

    /* hamberger menu  */

    .hambur-container .checkbox {
        position: absolute;
        display: block;
        height: 32px;
        width: 32px;
        top: 0px;
        left: 0px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .hambur-container .hamburger-lines {
        display: block;
        height: 26px;
        width: 32px;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .hambur-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
    }

    .hambur-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }

    .hambur-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }

    .hambur-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }

    .hambur-container input[type="checkbox"]:checked ~ .menu-items {
        transform: translateX(0);
    }

    .hambur-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(45deg);
    }

    .hambur-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
    }

    .hambur-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(-45deg);
    }
    #left-navigation {
        transition: left 0.5s ease-in-out;
    }

    /* song hover effect  */
    /* .song-hover {
        @apply cursor-pointer border-1 border-transparent hover:p-[5px_6px] hover:border-1 hover:border-milk hover:rounded-[8px] transition-all duration-500;
    } */

    /* small top navigation  */
    .sm-nav-item {
        @apply title-16px leading-[22px] text-white bg-transparent capitalize py-[5px] px-[16px] rounded-full;
    }
    .sm-nav-item.active {
        @apply text-black bg-yellow;
    }
    /* song title and song  */
    .song,
    .song-title {
        @apply grid grid-cols-[1fr_3fr_2.5fr_2fr_1.5fr_0.7fr] py-5;
    }
    .song,
    .song-title {
        @apply title-14px capitalize;
    }
    .song {
        @apply text-milk items-center;
    }
    .song-title {
        @apply text-[#B3B3B3] font-normal uppercase;
    }
}
